body{
    margin: 0;
    padding: 0;
    background: #333;
}

.container{
    text-align: center;
    margin-top: 100px;
}

.img{
    width: 220px;
    height: 440px;
    margin: 10px;
    background-size: cover;
    display: inline-flex;  
    background-repeat: no-repeat;
    transition: 2s linear;
}

.img:hover{
    background-position: bottom center ; 
}

.img1{
    background: url("img12.jpg") center;
}
.img2{
    background: url("img22.jpg") center;
}
.img3{
    background: url("img32.jpg") center;
}

